@charset "UTF-8";


body {
    background-color: gray;
}

h1 {
    font-size: 3em;
}

h1, footer {
    color: white;
    text-align: center;
}

main {
    background-color: white;
    max-width: 490px;
    min-width: 250px;
    height: 390px;
    margin: auto;
    border-radius: 10px;
}

section {
    margin: auto;
}

section#msg {
    padding: 1.5em;
    text-align: center;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section#imgs img{
    display: block;
    margin: auto;
    width: 280px;
    height: 200px;
    border-radius: 50%;
}

footer {
    padding: 10px;
    font-size: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}